.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
    
}
hr{
    margin-left: 50px;
    border: 1px solid #000000;
}
.sidebarItemm {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
.sidebarTitlee {
   top: 0;
    padding-bottom: 8px;
    /* width: 80%; */
    /* border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4; */
    justify-content: left;
    align-items: left;
    margin-left: 50px;
    line-height: 19px;
    color: #222222;
    font-family: Baloo Bhai 2;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: rgba(114, 115, 115, 0.95);
  
  }
.container-btn{
    /* display: inline-flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content:center ;
    display: flex;
    box-sizing: border-box;
    
}
.btn{
border: 1px solid #BFC8D0;
box-sizing: border-box;
border-radius: 30px;
align-items: center;
/* margin-left: 300px; */
color: #727373F2;
width: 120px;
height: 40px;

font-family: Segoe UI;
font-style: normal;
/* font-weight: 400; */
font-size: 17px;

}
.tablinks:active{

    
    
    
  }
